@import "./main.css";

.p-calendar {
  position: relative;
  width: 100%;
  height: 40px;
  border-radius: 5px;
}
.p-calendar {
  input,
  select,
  textarea {
    color: var(--color-nav-txt);
    font-size: 1rem;
    font-family: Chango;
    padding-left: 10px;
  }
}
.p-inputtext {
  background-color: var(--color-nav-bg-lighter);
  border-color: var(--color-nav-txt-lighter);
  border: 2px solid var(--color-nav-txt-lighter);
  border-radius: 5px;
}
.p-inputtext:focus-visible {
  outline: none;
  border-radius: 5px;
  border: 2px solid black;
  background-color: var(--color-nav-bg);
  border-color: var(--color-nav-txt-lighter);
}
.p-datepicker {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.479);
  width: 200px;
  margin-left:-50px;
  position: absolute;
  margin-top: 10px;
  border-radius: 5px;
  background: var(--color-nav-bg);
  font-family: Chango;
  font-size: 1rem;
  border: rgba(0, 0, 0, 0.336) solid 1px;
  color: var(--color-nav-txt);
  .p-datepicker-header {
    position: relative;
    button {
      color: var(--color-nav-txt);
      font-size: 1.4rem;
      padding: 5px;
      font-family: Chango;
      svg {
        height: 30px;
        width: 30px;
      }
    }
    &::after {
      content: "";
      width: 100%;
      height: 3px;
      position: absolute;
      bottom: 0;
      background-color: var(--color-nav-bg-darker);
    }
  }
  .p-datepicker-calendar-container {
    tbody {
      tr {
        position: relative;
        td {
          position: relative;
          height: 30px;
          width: 30px;
          margin:0;
          padding:0;
        }
        span {
          position: relative;
          height: 100%;
          border-radius: 50%;
          width: 35px;
          height: 35px;
          padding: 0;
          margin: 0;
          transition: all 0.2s ease-in-out;
        }
        span:hover {
          background-color: var(--color-nav-txt);
          color: var(--color-nav-bg);
        }
      }

      .p-datepicker-other-month {
        span {
          color: var(--color-nav-bg-darker);
        }
      }
    }
  }
  .p-timepicker {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    button {
      color: var(--color-nav-txt);
    }
    svg {
      width: 30px;
      height: 30px;
    }
    .p-hour-picker {
      width: 35px;
    }
    .p-minute-picker {
      width: 35px;
    }
  }
  .p-datepicker-buttonbar {
    position: relative;
    width: 100%;
    button {
      background-color: var(--color-nav-bg);
      color: var(--color-nav-txt);
      border: none;
      padding: 10px;
      margin: 5px;
      font-size: 1rem;
      border-radius: 5px;
      font-family: Chango;
      transition: all 0.2s ease-in-out;
    }
    button:hover {
      background-color: var(--color-nav-bg-darker);
    }
  }
}

@media (max-height: 824px) {
  .post-side-wrapper {
    label {
      font-size: 0.7rem;
    }

    .p-calendar {
      height: 30px;

      input,
      select,
      textarea {
        font-size: 0.8rem;
        padding-left: 5px;

      }
    }


  }

}